p {
    font-size: 22px;
}

li {
    font-size: 20px;
}

span {
    font-size: 18px;
}

th {
    font-size: 18px;
}

td {
    font-size: 18px;
}

div {
    font-size: 20px !important;
}

pre {
    font-family: "courier new", courier, monospace !important;
    font-size: 20px !important;
}

img {
    text-align: center;
    max-width: 50% !important;
}

